<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>CheckFilter</filter-name>
        <filter-class>com.topview.www.controller.filter.CheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>com.topview.www.controller.filter.SetCharacterEncoding</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.SignInServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.ExitServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserManageServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.UserManageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateHeadImageServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.UpdateHeadImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.UpdateInformationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddMyAddressServlet</servlet-name>
        <servlet-class>com.topview.www.controller.myAddress.AddMyAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindAllMyAddressServlet</servlet-name>
        <servlet-class>com.topview.www.controller.myAddress.FindAllMyAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindMyAddressServlet</servlet-name>
        <servlet-class>com.topview.www.controller.myAddress.FindMyAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateMyAddressServlet</servlet-name>
        <servlet-class>com.topview.www.controller.myAddress.UpdateMyAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteMyAddressServlet</servlet-name>
        <servlet-class>com.topview.www.controller.myAddress.DeleteMyAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ApplyForStoreServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.ApplyForStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindApplyForStoreServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.FindApplyForStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ApprovalApplyForServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.ApprovalApplyForServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindAllApplyForStoreServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.FindAllApplyForStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>rejectApplyForServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.RejectApplyForServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CloseStoreServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.CloseStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindFoodByStoreIdServlet</servlet-name>
        <servlet-class>com.topview.www.controller.food.FindFoodByStoreIdServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>com.topview.www.controller.food.AddFoodServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FoodStateOperateServlet</servlet-name>
        <servlet-class>com.topview.www.controller.food.FoodStateOperateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindAllCheckingFoodServlet</servlet-name>
        <servlet-class>com.topview.www.controller.food.FindAllCheckingFoodServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateFoodNumServlet</servlet-name>
        <servlet-class>com.topview.www.controller.food.UpdateFoodNumServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteApplyForServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.DeleteApplyForServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>com.topview.www.controller.user.UserSearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EnterStoreServlet</servlet-name>
        <servlet-class>com.topview.www.controller.store.EnterStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>com.topview.www.controller.order.ConfirmOrderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FillInOrderServlet</servlet-name>
        <servlet-class>com.topview.www.controller.order.FillInOrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/user/SignInServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/user/ExitServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/user/UserManageServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateHeadImageServlet</servlet-name>
        <url-pattern>/user/UpdateHeadImageServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <url-pattern>/user/UpdateInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddMyAddressServlet</servlet-name>
        <url-pattern>/myAddress/AddMyAddressServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindAllMyAddressServlet</servlet-name>
        <url-pattern>/myAddress/FindAllMyAddressServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindMyAddressServlet</servlet-name>
        <url-pattern>/myAddress/FindMyAddressServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateMyAddressServlet</servlet-name>
        <url-pattern>/myAddress/UpdateMyAddressServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteMyAddressServlet</servlet-name>
        <url-pattern>/myAddress/DeleteMyAddressServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplyForStoreServlet</servlet-name>
        <url-pattern>/store/ApplyForStoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindApplyForStoreServlet</servlet-name>
        <url-pattern>/store/FindApplyForStoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApprovalApplyForServlet</servlet-name>
        <url-pattern>/store/ApprovalApplyForServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindAllApplyForStoreServlet</servlet-name>
        <url-pattern>/store/FindAllApplyForStoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>rejectApplyForServlet</servlet-name>
        <url-pattern>/store/RejectApplyForServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CloseStoreServlet</servlet-name>
        <url-pattern>/store/CloseStoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindFoodByStoreIdServlet</servlet-name>
        <url-pattern>/food/FindFoodByStoreIdServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/food/AddFoodServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FoodStateOperateServlet</servlet-name>
        <url-pattern>/food/FoodStateOperateServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindAllCheckingFoodServlet</servlet-name>
        <url-pattern>/food/FindAllCheckingFoodServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateFoodNumServlet</servlet-name>
        <url-pattern>/food/UpdateFoodNumServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteApplyForServlet</servlet-name>
        <url-pattern>/store/DeleteApplyForServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/user/UserSearchServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EnterStoreServlet</servlet-name>
        <url-pattern>/store/EnterStoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/order/ConfirmOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FillInOrderServlet</servlet-name>
        <url-pattern>/order/FillInOrderServlet</url-pattern>
    </servlet-mapping>
</web-app>